<h2>This is landing_page</h2>

<div class="row">
  <div class="col-md-6">
    <form ng-submit="register()" class="form-signin">
      <h2 class="form-signin-heading">Please sign up</h2>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input ng-model="userRegister.email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input ng-model="userRegister.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
  </div>

  <div class="col-md-6">
    <form ng-submit="login()" class="form-signin">
      <h2 class="form-signin-heading">Log in</h2>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input ng-model="userLogin.email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input ng-model="userLogin.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    </form>
  </div>

</div>
