<div class="row">

  <div class="col-md-8">
    <form ng-submit="createTask()" class="form-inline">
      <div class="form-group">
        <label for="taskInput">Enter task</label>
        <input ng-model="task.description" type="text" class="form-control" id="taskInput" placeholder="Buy Milk">
      </div>

      <button type="submit" class="btn btn-default">Add Task</button>
    </form>
  </div>

</div>


<div class="row" ng-repeat="task in taskList">


  <div class="col-md-1">
    <input ng-checked="task.done" ng-click="markTaskAsDone(task.done, task.$id)" type="checkbox">
  </div>

  <div class="col-md-3">
    <p ng-class="{'task--done' : task.done }">{{ task.description }}</p>
  </div>

  <div class="col-md-3">
    <button ng-click="delteTask(task.$id)" class="btn btn-danger">Delete Task</button>
  </div>

</div>
